{% extends 'students/base.html' %} {% block title %}{{courses.course_title}}{% endblock title %} {% block content %}

<div >
    {% if messages %}
          {% for message in messages %}
            <div class="alert alert-dismissible {{ message.tags }} mt-3">
              <button type="button" class="close" data-dismiss="alert">
              ×
              </button>
              <strong>{{message}}</strong>
            </div>
         {% endfor %}
    {% endif %}

    <div class="row justify-content-left mt-4">
    <div class="col-lg-9">
        <div class="card shadow  card-body p-4 " style="background-color:#042339" >
            <h3 class="pt-2 text-gray-400 "><b>{{courses.course_title}}</b></h3>
            <p class="card-text text-gray-400 small">By: <span class="text-success">{{courses.user_id.name}}</span></p>
            <p class="card-text text-gray-400 small">Code: <span class="text-success">{{courses.code}}</span></p>
        </div>
    {% if questions%}
        <div align="right " id="displaytimer"><b>Timer: 0 seconds</b></div>
         <form method='post' action=''>
                {% csrf_token %}
                {% for q  in questions%}
                <div class="form-group">
                        <div class="card shadow  card-body p-3 " >
                  <label for="question">{{forloop.counter}}. {{q.question}}</label>
                    </div>
                </div>
                <div class="form-check">
                    <div class="form-check ">
                        <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios1" value="1">
                <label class="form-check-label text-light" for="gridRadios1">
                    {{q.option1}}
                </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios2" value="2">
                    <label class="form-check-label text-light" for="gridRadios2">
                        {{q.option2}}
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios3" value="3">
                    <label class="form-check-label text-light" for="gridRadios1">
                        {{q.option3}}
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios4" value="4">
                    <label class="form-check-label text-light" for="gridRadios2">
                        {{q.option4}}
                    </label>
                </div>
                {%if q.option5%}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios5" value="5">
                    <label class="form-check-label text-light" for="gridRadios2">
                        {{q.option5}}
                    </label>
                </div>
                 {% endif %}
            <br>
        </div>
        {% endfor %}
        <input id='timer' type='hidden' name="timer" value="">
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a type="button" href="{% url  'students:tests' %}" class="btn btn-warning">Cancel</a>
      </form>
        {% else %}
          <div class="d-flex align-items-center justify-content-center flex-column mt-4">
                 <label><b class="text-primary pt-4 pl-5">No questions are added yet.</b></label><br/>
                      <a type="button" href="{% url 'students:tests' %}" class="btn btn-warning small">Cancel</a>
          </div>
          {% endif %}

         <div class="mt-5">
            <h6 class="text-gray-400">About the teacher</h6>
            <div class="card shadow  card-body p-8 " style="background-color:#042339" >
                <div class="d-flex">
                    {% if courses.user_id.profile_image %}
                       <img  src="{{courses.user_id.profile_image.url}}" height="100" width="100" alt="teacher image">
                    {% else %}
                        <img  src="https://images.pexels.com/photos/4498366/pexels-photo-4498366.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" height="100" width="100" alt="teacher image">

                    {% endif %}
                    <div class="pl-3">
                            <h6 class="card-text small text-success ">{{courses.user_id.name}}</h6>
                        <h6 class="card-text small text-gray-400"><span><i>{{courses.user_id.current_position}}</i></span></h6>
                            <p class="card-text small text-justify mt-3 text-gray-400">{{courses.user_id.profile_description}}.</p>
                      </div>
                 </div>
            </div>
        </div>

    </div>


    <div class="col-lg-3 justify-content-center ">
           <div class="card shadow  card-body p-2 " style="background-color:#042339" >
               {% if courses.course_thumbnail %}
                    <img  src="{{ courses.course_thumbnail.url }}" height="160" alt="teacher image">
                {%else%}
                    <img  src="https://images.pexels.com/photos/4498366/pexels-photo-4498366.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" height="160" alt="teacher image">
               {% endif %}
                     <div class="card-body">
                           <h6 class="card-title text-success "><b><i class="fas fa-check text-success mr-3"></i> Rs 500 paid</b></h6>
                             <a href="{% url 'students:course_enroll' id=courses.id %}">
                             <form method="post"  action="{% url 'students:course_unroll' id=courses.id %}">
                                      {% csrf_token %}
                                      <button class="btn btn-primary py-0" type="submit">
                                   <h6 class="card-text small p-3">Unroll</h6>
                                 </button>
                             </form>
                              </a>
                         <hr>
                         <h6 class="card-text text-gray-400">This course includes</h6>
                         <hr>
                        <p class="card-text small font-weight-light text-gray-400"> <i class="fas fa-check text-success mr-3"></i> <span >Study materials</span></p>
                    </div>
            </div>
    </div>
</div>



</div>


{% endblock content %}

{% block script %}
        <script>
            console.log('hello world')
            const timer=document.getElementById('displaytimer')
            console.log(timer.textContent)
            const inputtag = document.getElementById('timer')
            t=0
            setInterval(()=>{
                t+=1
                timer.innerHTML ="<b>Timer: " +t+" seconds</b>"
                inputtag.value = t
            },1000)
        </script>
    {% endblock script %}