{% extends 'students/base.html' %} {% block title %}{{courses.course_title}}{% endblock title %} {% block content %}
{% load static%}

{% if messages %}
          {% for message in messages %}
            <div class="alert alert-dismissible {{ message.tags }} mt-3">
              <button type="button" class="close" data-dismiss="alert">
              ×
              </button>
              <strong>{{message}}</strong>
            </div>
         {% endfor %}
    {% endif %}

<div class="row justify-content-left mt-4">
    <div class="col-lg-9">
        <div class="card shadow  card-body p-4 " style="background-color:#042339" >
            <h3 class="pt-2 text-gray-400 "><b>{{courses.course_title}}</b></h3>
             <div class="d-flex mt-3">
              <p class="card-text text-gray-400 small pr-5">Enrolled: <span class="text-success">{{enrolls_total}}</span></p>
              <p class="card-text text-gray-400 small">Course Duration: <span class="text-success">{{duration.duration_time}}</span></p>
             </div>
            <p class="card-text text-gray-400 small">By: <span class="text-success">{{courses.user_id.name}}</span></p>
            <p class="card-text text-gray-400 small">Code: <span class="text-success">{{courses.code}}</span></p>
        </div>

        <div class="mt-5">
            <h6 class="text-gray-400">Course Description</h6>
            <div class="card shadow  card-body p-8 " style="background-color:#042339" >
               <p class="card-text small text-justify text-gray-400">{{courses.course_description}}</p>
            </div>
        </div>

        <div class="mt-5">
            <h6 class="text-gray-400">Course Resources</h6>
        {% if resources %}
        {% for resource in resources %}
        <div class="card shadow">
            <a class="btn btn-link text-left card-header font-weight-bold mt-2" data-toggle="collapse" aria-expanded="true" aria-controls="collapse-4-{{resource.id|slugify}}" href="#collapse-4-{{resource.pk|slugify}}" role="button">{{forloop.counter}}. {{resource.resource_title}}</a>
            <div class="collapse" id="collapse-4-{{resource.pk|slugify}}">
                <div class="card-body">
                    <h1 style="font-size: 14px;font-weight: bold;" class="text-gray-500">Posted on: {{resource.date_created|date:"M d, Y"}}</h1>
                    <hr>
                    <p class="m-0 text-gray-500">{{resource.resource_description|linebreaksbr}}</p>
                   <br>
                    <div class="row">
                        {% if resource.resource %}
                        <div class="col">
                           <a class="btn btn-primary btn-icon-split" role="button" href="{{resource.resource.url}}" target="_blank">
                               <span class="text-white-50 icon">
                                   <i class="fas fa-eye"></i>
                               </span>
                               <span class="text-white text">
                                   View Resource
                               </span>
                           </a>
                        </div>
                        <div class="col">
                           <a class="btn btn-success btn-icon-split" role="button" href="{{resource.resource.url}}" download>
                               <span class="text-white-50 icon">
                                   <i class="fas fa-arrow-circle-down"></i>
                               </span>
                               <span class="text-white text">
                                   Download Resource
                               </span>
                           </a>
                        </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div>
          <h6  class="text-primary m-0 font-weight-bold small">No resources are added.</h6>
        </div>
        {% endif %}
        </div>

        <div class="mt-5">
            <h6 class="text-gray-400">About the teacher</h6>
            <div class="card shadow  card-body p-8 " style="background-color:#042339" >
                <div class="d-flex">
                    {% if courses.user_id.profile_image %}
                       <img class="rounded-circle border img-profile"  src="{{courses.user_id.profile_image.url}}" height="100" width="100" alt="teacher image">
                    {% else %}
                        <img class="rounded-circle border img-profile" src="{% static 'teachers/img/avatars/img.png' %}" height="100" width="100"/>
                    {% endif %}
                    <div class="pl-3">
                            <h6 class="card-text small text-success ">{{courses.user_id.name}}</h6>
                        <h6 class="card-text small text-gray-400"><span><i>{{courses.user_id.current_position}}</i></span></h6>
                            <p class="card-text small text-justify mt-3 text-gray-400">{{courses.user_id.profile_description}}.</p>
                      </div>
                 </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 justify-content-center ">
           <div class="card shadow  card-body p-2 " style="background-color:#042339" >
               {% if courses.course_thumbnail %}
                    <img  src="{{ courses.course_thumbnail.url }}" height="160" alt="teacher image">
                {%else%}
                    <img  src="https://images.pexels.com/photos/4498366/pexels-photo-4498366.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" height="160" alt="teacher image">
               {% endif %}
                     <div class="card-body">
                         {% if fees %}
                           <h6 class="card-title text-success "><b><i class="fas fa-check text-success mr-3"></i> $ {{fees.price}} paid</b></h6>
                           {%else%}
                         <h6 class="card-title text-warning"><b>Free</b></h6>
                         {% endif %}
                         <a href="{% url 'students:course_enroll' id=courses.id %}">
                             <form method="post"  action="{% url 'students:course_unroll' id=courses.id %}">
                                      {% csrf_token %}
                                      <button class="btn btn-primary py-0" type="submit">
                                   <h6 class="card-text small p-3">Unroll</h6>
                                 </button>
                             </form>
                              </a>
                         <hr>
                         <h6 class="card-text text-gray-400">This course includes</h6>
                         <hr>
                        <p class="card-text small font-weight-light text-gray-400"> <i class="fas fa-check text-success mr-3"></i> <span >Study materials</span></p>
                    </div>
            </div>
    </div>
</div>

{% endblock content %}