{% extends 'students/base.html' %} {% block title %}Dashboard{% endblock title %} {% block content %}

<div >
<!--    <div class="card shadow  card-body p-2 " >-->
<!--      <h5 class="pt-2 text-white">Dashboard</h5>-->
    <!--    </div>-->
    {% if messages %}
          {% for message in messages %}
            <div class="alert alert-dismissible {{ message.tags }} mt-3">
              <button type="button" class="close" data-dismiss="alert">
              ×
              </button>
              <strong>{{message}}</strong>
            </div>
         {% endfor %}
    {% endif %}
    <div class="row justify-content-left mt-4">
        <div class="col-lg-3 ">
            <div class="card shadow mb-4">
                <div class="card-body p-3 btn-warning">
                    <h6>Teachers</h6>
                    <hr>
                    <h6>1</h6>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card shadow mb-4">
                <div class="card-body p-3 btn-success">
                    <h6>Courses</h6>
                    <hr>
                    <h6>1</h6>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card mb-4">
                <div class="card-body p-3 btn-primary">
                    <h6>Test Attended</h6>
                    <hr>
                    <h6>1</h6>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card shadow mb-4">
                <div class="card-body p-3 btn-info">
                    <h6>Fees Paid</h6>
                    <hr>
                    <h6>1</h6>
                </div>
            </div>
        </div>
    </div>


    <!-- End: Dropdown Card -->
    <h6>Available courses</h6>
    <div class=" d-flex flex-wrap align-items-center mt-4">

 <div class="row justify-content-left mt-4">


     <div class="col-sm-3 d-block">
             <a href="{% url 'students:course_detail' %}">
               <div class="card mb-4 ">
                 <img class="card-img-top" src="https://images.pexels.com/photos/4498366/pexels-photo-4498366.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" height="150" alt="Card image cap">
                    <div class="card-body">
                      <h6 class="card-title text-white ">E-commerce Website Building with WordPress | Build your Online Shop</h6>
                      <p class="card-text text-success small">Ragen maharjan</p>
                       <b>Rs 500</b>
                    </div>
                </div>
             </a>
        </div><div class="col-lg-3 d-block">
             <a href="{% url 'students:course_detail' %}">
               <div class="card mb-4 d-block">
                 <img class="card-img-top" src="https://images.pexels.com/photos/4498366/pexels-photo-4498366.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" height="150" alt="Card image cap">
                    <div class="card-body">
                      <h6 class="card-title text-white ">E-commerce Website Building with WordPress | Build your Online Shop</h6>
                      <p class="card-text text-success small">Ragen maharjan</p>
                       <b>Rs 500</b>
                    </div>
                </div>
             </a>
        </div>






    </div>
<!--  <div class="card-deck">-->
<!--  <div class="card">-->
<!--    <img class="card-img-top" src="https://images.pexels.com/photos/4498366/pexels-photo-4498366.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" height="210" alt="Card image cap">-->
<!--    <div class="card-body">-->
<!--      <h6 class="card-title text-white ">E-commerce Website Building with WordPress | Build your Online Shop</h6>-->
<!--      <p class="card-text text-success small">Ragen maharjan</p>-->
<!--       <b>Rs 500</b>-->
<!--    </div>-->

<!--  </div>-->
<!--  <div class="card">-->
<!--    <img class="card-img-top" src="https://previews.123rf.com/images/alexandertrou/alexandertrou2003/alexandertrou200300015/143562009-online-course-vector-illustration-online-education-web-page-concept-girl-studying-with-laptop-e-lear.jpg" height="200" alt="Card image cap">-->
<!--    <div class="card-body">-->
<!--      <h5 class="card-title">Card title</h5>-->
<!--      <p class="card-text text-success small">Ragen maharjan</p>-->
<!--      <b>Rs 500</b>-->
<!--    </div>-->

<!--  </div>-->
<!--  <div class="card">-->
<!--    <img class="card-img-top" src="https://images.pexels.com/photos/4498366/pexels-photo-4498366.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" height="200" alt="Card image cap">-->
<!--    <div class="card-body">-->
<!--      <h5 class="card-title">Card title</h5>-->
<!--      <p class="card-text">Ragen maharjan</p>-->
<!--    </div>-->

<!--  </div>-->

<!--  </div>-->
</div>
</div>

{% endblock content %}