{% extends 'students/base.html' %} {% block title %}{{user.name}} - Test {% endblock title %} {% block content %}

<div >
<!--    <div class="card shadow  card-body p-2 " >-->
<!--      <h5 class="pt-2 text-white">Dashboard</h5>-->
    <!--    </div>-->
    {% if messages %}
          {% for message in messages %}
            <div class="alert alert-dismissible {{ message.tags }} mt-3">
              <button type="button" class="close" data-dismiss="alert">
              ×
              </button>
              <strong>{{message}}</strong>
            </div>
         {% endfor %}
    {% endif %}

<h5 class="text-gray-500">We have found <b>{{enroll_count}}</b> of your enrolled courses.</h5>
<!--<h6  class="text-gray-500">Select the courses to take a test.</h6>-->
    <div class="  mt-4">
       <div class="column ">
           {% if enrolls %}
           {% for enroll in enrolls %}

                   <a href="{% url 'students:course_test' courseId=enroll.course_id.id %}">
                      <div class="card mb-2 d-flex flex-row justify-content-start align-items-start" >
                       {% if enroll.course_id.course_thumbnail %}
                          <img class="" src="{{ enroll.course_id.course_thumbnail.url }}" height="150" width="150" alt="Card image cap">
                       {%else%}
                          <img class="" src="https://images.pexels.com/photos/4498366/pexels-photo-4498366.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" height="150" width="150" alt="Card image cap">
                       {% endif %}
                        <div class="card-body">
                            <h6 class="card-title text-gray-400  max-lines">{{enroll.course_id.course_title}}</h6>
                            <b class="text-gray-400 badge btn-primary">{{enroll.course_id.code}}</b>
                            <p class="card-text text-success small mt-2">{{enroll.course_id.user_id.name}}</p>
                        </div>
                     </div>
                   </a>

          {% endfor %}
          {% else %}
              <div class="d-flex align-items-center justify-content-center flex-column">
                 <label><b class="text-primary pt-4 pl-5">No Courses were enrolled yet.</b></label><br/>
              </div>
          {% endif %}

      </div>

    </div>



{% endblock content %}