{% extends 'teachers/base.html' %} {% block title %}Add Courses{% endblock title %}
{% load bootstrap4 %}
{% bootstrap_messages %}
{% block content %}


<div class="container-fluid">
    <div class="card shadow  card-body p-2 ">
      <h5 class="pt-2 "><i class="fa fa-money fa-sm fa-fw mr-2 text-gray-400"></i>Add Fees</h5>
    </div>

    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-dismissible {{ message.tags }} mt-3">
          <button type="button" class="close" data-dismiss="alert">
          ×
          </button>
          <strong>{{message}}</strong>
        </div>
     {% endfor %}
    {% endif %}

    <form class="mt-4" method="POST" enctype="multipart/form-data" >
        {% csrf_token %}
        <div class="form-group">
          <label><b class="text-primary">* You can choose the discount.</b></label>
        </div>
         <div class="form-group">
            <label>Courses</label>
                <select class="form-select form-control" aria-label="Course select" name="course_id">
                  <option selected>Select a course</option>
                  {% if courses %}
                    {% for course in courses %}
                     <option value="{{course.id}}">{{course.course_title}}</option>
                     {% endfor %}
                  {% endif %}
                </select>
        </div>
        <div class="form-group">
            <label>Price</label>
            <input class="form-control form-control-user" type="number" placeholder="" autocomplete="off" name="price" required>
        </div>
        <div class="form-group">
            <label>Discount</label>
            <div class="custom-control custom-checkbox small">
                <div class="form-check">
                    <input class="form-check-input custom-control-input" type="checkbox" id="formCheck-1">
                    <label class="form-check-label custom-control-label " for="formCheck-1">Discount Available?</label>
                </div>
            </div>
        </div>

        <button type="submit" class="form-button btn btn-success">Confirm</button>
        <a href="{% url 'teachers:fees' %}" class="form-button btn btn-primary">Cancel</a>

    </form>
</div>

{% endblock content %}