{% extends 'teachers/base.html' %} {% block title %}Tests{% endblock title %} {% block content %}
{% load static %}

<div class="container-fluid">
    <div class="card shadow  card-body p-2 ">
      <h5 class="pt-2 "><i class="fa fa-graduation-cap fa-sm fa-fw mr-2 text-gray-400"></i>Tests</h5>
    </div>


    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-dismissible {{ message.tags }} mt-3">
          <button type="button" class="close" data-dismiss="alert">
          ×
          </button>
          <strong>{{message}}</strong>
        </div>
     {% endfor %}
    {% endif %}
    <div class="form-group pt-4">
           <label><b class="text-primary pt-4">* Select course to add test questions</b></label>
    </div>

    <div class="table-responsive mt-4">
      <table class="table table-sm table-bordered ">
<!--        <caption>List of roles</caption>-->
          <thead>
            <tr class="bg-secondary text-white small">
                <th scope="col">SN</th>
                <th scope="col">Course Code</th>
                <th scope="col">Course title</th>
                <th scope="col">Manage</th>
            </tr>
          </thead>
          <tbody>
          {% if courses %}
          {% for course in courses %}
            <tr class="small">
                <td scope="row">{{ forloop.counter }}</td>
                <td scope="row">{{course.code}}</td>
                <td class="max-lines" scope="row">{{course.course_title}}</td>
                <td>
                     <a class="btn btn-primary btn-icon-split" role="button" href="{% url 'teachers:course_tests' courseId=course.id %}">
                        <span class="text-white-50 icon small"><i class="far fa-folder"></i></span>
                    </a>
                </td>
            </tr>
            {% endfor %}
            {% else %}
              <tr>
                  <td colspan="4" class="small">No courses has been added</td>
              </tr>
              {% endif %}
          </tbody>
      </table>
    </div>

</div>

{% endblock content %}