
 <!DOCTYPE html> {% load static %}
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Register - Student</title>
    <link rel="stylesheet" href="{% static 'accounts/bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" />
    <style>
        .form-control-date{font-size:.8rem;border-radius:10rem;  }
        .btn-cancel{
            border-radius:20px;
            background-color:#F6C23D;
        }
    </style>
</head>

<body class="bg-gradient-primary"  style="background-image: url('{% static 'accounts/assets/img/header-backimg2.jpg' %}');">
    <div class="container mt-2">
         <div class="d-flex justify-content-center align-items-center mr-auto">
            <div class="row justify-content-center">
                <div class="card shadow-lg o-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <div class="row justify-content-center">
                            <div class="col-lg-12">
                                {% if messages %}
                                  {% for message in messages %}
                                    <div class="alert alert-dismissible {{ message.tags }} mt-3">
                                      <button type="button" class="close" data-dismiss="alert">
                                      ×
                                      </button>
                                      <strong>{{message}}</strong>
                                    </div>
                                 {% endfor %}
                                {% endif %}
                                <div class="p-5">
                                    <div class="text-center">
                                        <h2 class="text-dark mb-4">Register</h2>
                                    </div>
                                         <h6 class="mb-4">
                                            Fill up the following form to create a Student Account!
                                         </h6>
                                        <form class="user" method="POST" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="form-group ">{{form.name}}</div>
                                            <div class="form-group">{{form.email}}</div>
                                            <div class="form-group">{{form.address}}</div>
                                            <div class="form-group ">
                                                <div class="form-control form-control-date ">Date of birth: <span >{{form.dob}}</span></div>
                                            </div>
                                            <div class="form-group "> {{form.contact_no}}</div>
                                            <div class="form-group "> {{form.password}}</div>

                                            <button class="btn btn-primary btn-block text-white btn-user" type="submit">
                                               Register Account
                                             </button>
                                        </form>

                                       <a class="btn btn-block text-white  btn-cancel small mt-2" href="/">
                                           <div class="small p-1">Cancel</div>
                                       </a>
                                        <hr />
                                    <div class="text-center">
                                        <a class="btn btn-block small" href="{% url 'accounts:login' %}"><h6 class="small">Already have an account? Login!</h6></a>
                                    </div>
                                </div>
                            </div>
                         </div>
                     </div>
                  </div>
                </div>
            </div>
         </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="{% static 'accounts/js/theme.js' %}"></script>
  </body>
</html>