{% extends 'admins/base.html' %} {% block title %}Dashboard{% endblock title %} {% block content %}

<div class="container-fluid">
    {% if messages %}
          {% for message in messages %}
            <div class="alert alert-dismissible {{ message.tags }} mt-3">
              <button type="button" class="close" data-dismiss="alert">
              ×
              </button>
              <strong>{{message}}</strong>
            </div>
         {% endfor %}
    {% endif %}
    <div class="card shadow  card-body p-2 ">
      <h5 class="pt-2 "><i class="fas fa-inbox fa-sm fa-fw mr-2 text-gray-400"></i>Dashboard</h5>
    </div>

    <div class="row justify-content-left mt-4">
        <div class="col-lg-3 ">
            <div class="card shadow mb-4">
                <div class="card-body p-3 btn-warning">
                    <h6>Users</h6>
                    <hr>
                    <h6>{{users_count}}</h6>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card shadow mb-4">
                <div class="card-body p-3 btn-success">
                    <h6>Students</h6>
                    <hr>
                   <h6>{{students_count}}</h6>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card mb-4">
                <div class="card-body p-3 btn-primary">
                    <h6>Teachers</h6>
                    <hr>
                    <h6>{{teachers_count}}</h6>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card shadow mb-4">
                <div class="card-body p-3 btn-info">
                    <h6>Courses</h6>
                    <hr>
                    <h6>{{courses_count}}</h6>
                </div>
            </div>
        </div>
    </div>

    <h4>Charts</h4>
        <br>
     <div class="row justify-content-left mt-4">
        <div class="col-lg-6 ">
            <div class=" shadow mb-4 ">
                <canvas id="pie-chart"></canvas>
            </div>
        </div>
        <div class="col-lg-6 ">
            <div class=" shadow mb-4">
                <canvas id="population-chart" ></canvas>
            </div>
        </div>
     </div>



</div>

{% endblock content %}

 {% block script %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

 <script>

    var config = {
      type: 'pie',
      data: {
        datasets: [{
          data: {{ data|safe }},
          backgroundColor: [
            '#031F42', '#808080', '#A9A9A9'
          ],
          label: "Users"
        }],
        labels: {{ labels|safe }}
      },
      options: {
        responsive: true
      }
    };

    const data = {
      labels: {{labels|safe}},
      datasets: [{
            fill: true,
            label: '',
            data: {{ data|safe }},
            backgroundColor: [
              '#031F42', '#808080', '#A9A9A9'
            ],
            borderColor: [
               '#808080','#031F42'
            ],
            borderWidth: 1
          }]
        };

    const config2 = {
      type: 'bar',
      data,
      options: {
            responsive: true,
            legend: {
            display: false
        },
             scales: {
                        xAxes: [{
                                display: true,
                                barPercentage: 0.4,
                                scaleLabel: {
                                    display: false,
                                    labelString: 'Users'
                                }
                            }],
                        yAxes: [{
                                display: true,
                                ticks: {
                                    beginAtZero: true,
                                    steps: 10,
                                    stepValue: 5,

                                }
                            }]
                    },
                    title: {
                        display: false,
                        text: 'Bar Chart - Users'
                    }
          }
    };


      window.onload = function() {
      var ctx = document.getElementById('pie-chart').getContext('2d');
      var ctx2 = document.getElementById('population-chart').getContext('2d');

      window.myPie = new Chart(ctx, config);
      window.myPie = new Chart(ctx2, config2);
    };

  </script>

    {% endblock script %}