{% extends 'admins/base.html' %} {% block title %}Dashboard - Students{% endblock title %} {% block content %}


<div class="container-fluid">
    <div class="card shadow  card-body p-2 ">
      <h5 class="pt-2 "><i class="fa fa-graduation-cap fa-sm fa-fw mr-2 text-gray-400"></i>Students</h5>
    </div>

    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-dismissible {{ message.tags }} mt-3">
          <button type="button" class="close" data-dismiss="alert">
          ×
          </button>
          <strong>{{message}}</strong>
        </div>
     {% endfor %}
    {% endif %}

    <div class="table-responsive mt-4">
      <table class="table table-sm table-bordered ">
          <thead>
            <tr class="bg-secondary text-white small">
              <th scope="col">S.N.</th>
              <th scope="col">Student name</th>
              <th scope="col">Email</th>
              <th scope="col">Address</th>
              <th scope="col">dob</th>
              <th scope="col">Address</th>
              <th scope="col text-align-right">View</th>
              <th scope="col text-align-right">Actions</th>
            </tr>
          </thead>
          <tbody>
          {% if students %}
          {% for student in students %}
            <tr class="small">
              <th scope="row">{{ forloop.counter }}</th>
              <td class="max-lines">{{student.name}}</td>
              <td class="max-lines">{{student.email}}</td>
              <td class="max-lines">{{student.address}}</td>
              <td>{{student.address}}</td>
              <td>{{student.dob|date:'D d M Y'}}</td>
              <td>
                   <a class="btn btn-primary btn-icon-split pull-right" role="button" href="{% url 'admins:view_student' id=student.id %}">
                        <span class="text-white-50 icon small"><i class="far fa-eye"></i></span>
                    </a>
              </td>
                <td>
                    <div class="pull-right dropdown no-arrow justify-content-right">
                        <button
                          class="btn btn-link btn-sm dropdown-toggle"
                          aria-expanded="false"
                          data-toggle="dropdown"
                          type="button"
                        >
                          <i class="fas fa-ellipsis-v "></i>
                        </button>
                        <div class="dropdown-menu shadow dropdown-menu-right animated--fade-in">
                          <a class="dropdown-item btn-success" href="{% url 'admins:edit_users' user_id=student.id %}">
                              <i class="fa fa-edit fa-sm fa-fw mr-2 text-gray-400"></i>
                              &nbsp;Edit Student
                          </a>
                          <a class="dropdown-item" href="{% url 'admins:delete_users' user_id=student.id check_user=1%}">
                              <i class="fa fa-trash-o fa-sm fa-fw mr-2 text-gray-400"></i>
                              &nbsp;Delete Student
                          </a>
                        </div>
                    </div>
                 </td>
            </tr>
            {% endfor %}
            {% else %}
              <tr>
                  <td colspan="4" class="small">No Students has recorded.</td>
              </tr>
              {% endif %}
          </tbody>
      </table>
    </div>
</div>

{% endblock content %}